[submodule "frontend"]
	path = frontend
	url = https://github.com/LucaPrevi0o/ProgSistWeb-ShopFrontend
[submodule "backend"]
	path = backend
	url = https://github.com/LucaPrevi0o/ProgSistWeb-ShopBackend
